* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  list-style: none;
  text-decoration: none;
}

.products__card__bottom__button {
  background-color: white;
  border-radius: 5px;
}
.products__card__bottom__button:hover {
  background-color: red;
  color: white;
  border-radius: 5px;
}

.header-top__nav__left__list__item a:hover {
  color: red;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: red;
  color: white;
}

a:hover {
  color: red;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1440px;
}

.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

body {
  background-color: #F2F2F2;
}

footer {
  background-color: #1F1D14;
  padding: 50px 0px 0px 0px;
  border-top: 29px solid #FBD029;
}

.footer {
  display: flex;
  flex-direction: column;
}

.footer__end {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto;
}

.footer__top {
  display: grid;
  justify-content: space-between;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 120px 120px;
}

.footer__top__logo {
  display: flex;
  gap: 6px;
}

.footer__top__logo__title {
  font-size: 22px;
  width: 80px;
}

.footer__top__list {
  display: grid;
  gap: 10px;
}

.footer__top__list__item a {
  display: flex;
  gap: 10px;
  align-items: center;
}

.footer__top__contact {
  display: grid;
  gap: 25px;
}

.footer__top__adress {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 250px;
}

.footer__top__adress i {
  font-size: 30px;
}

.footer__top__follow {
  display: grid;
  gap: 10px;
}

.footer__top__follow__input {
  width: 235px;
  height: 40px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: 3px solid #9A9EA5;
}

.footer__top__follow__button {
  width: 235px;
  height: 40px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #FBD029;
  border: none;
  color: black;
  font-weight: 700;
}

.footer__top__follow__button buttom::-moz-placeholder {
  color: black;
}

.footer__top__follow__button buttom::placeholder {
  color: black;
}

.footer__top__follow__icons {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-size: 24px;
  padding: 20px 0px;
}

.footer__end {
  padding: 20px 0px;
}

.footer__end__right {
  display: flex;
  gap: 20px;
}

@media (max-width: 1000px) {
  .footer__top {
    grid-template-columns: auto auto;
    grid-template-rows: 140px 200px;
  }
}
@media (max-width: 540px) {
  .footer__top {
    grid-template-columns: auto;
    justify-content: start;
    gap: 20px;
  }
  .footer__end {
    justify-content: space-between;
    grid-template-columns: auto;
  }
  .footer__end__right {
    display: grid;
  }
}
.header-bottom {
  background-color: white;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 999;
}

.header-bottom__nav__btn-hamburger {
  width: 20px;
  border: none;
  color: black;
  background-color: black;
  padding: 13px 25px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 23px;
  display: none;
}

.header-bottom__nav__left__category button {
  background-color: black;
  border: none;
  display: inline-flex;
  padding: 15px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
}

.header-bottom__nav__left__input {
  display: inline-flex;
  width: 593px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #F2F2F2;
  padding: 0px 30px;
}

.header-bottom__nav__left__input input {
  border: none;
  color: black;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 100%;
  background: inherit;
  width: 100%;
  outline: none;
}

.header-bottom__nav__right__user {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: large;
  border: none;
}

.header-bottom__nav__right__like {
  width: 45px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 900;
  font-size: large;
  border: none;
}

.header-bottom__nav__right__basket {
  display: inline-flex;
  padding: 15px 30px 14px 30px;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background: #F2F2F2;
  color: black;
  border: none;
}

.header-bottom__nav__right__basket .korz {
  color: black;
}

.header-bottom__nav__shrink {
  box-shadow: 0px 0px 30px rgb(0, 81, 255);
}

.header-bottom__nav__logo {
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.header-bottom__nav__list {
  padding: 120px 0px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  text-align: center;
  background: white;
}

.header-bottom__nav__list a {
  background: white;
  color: blue;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid;
}

.header-bottom__nav__list-show {
  left: 0;
}

@media (max-width: 1200px) {
  .header-bottom__nav__left__category button {
    background-color: black;
    border: none;
    display: inline-flex;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
  }
  .header-bottom__nav__left__input {
    width: 250px;
    height: 45px;
  }
  .header-bottom__nav__right__basket {
    display: inline-flex;
    padding: 15px 30px 14px 30px;
    gap: 5px;
  }
}
@media (max-width: 800px) {
  .header-bottom__nav__left__category button {
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
  }
  .header-bottom__nav__left__category button a {
    display: none;
  }
  .header-bottom__nav__left__input {
    width: 130px;
    height: 45px;
  }
  .header-bottom__nav__right__basket {
    display: inline-flex;
    padding: 15px 10px 14px 10px;
    gap: 5px;
  }
}
@media (max-width: 500px) {
  .header-bottom__nav__left__input {
    width: 30%;
    padding: 24px;
  }
  .header-bottom__nav__right__basket {
    padding: 16px 15px;
  }
  .header-bottom__nav__right__basket .korz {
    display: none;
  }
}
.header-top {
  background: #1F1D14;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0px;
  z-index: 999;
}

.header-top .header-top__nav__btn-hamburger {
  width: 20px;
  background: transparent;
  border: none;
  font-size: 23px;
}

.header-top .header-top__nav__shrink {
  box-shadow: 0px 0px 30px rgb(0, 81, 255);
}

.header-top .header-top__nav__logo {
  display: flex;
  font-size: 11px;
  width: 12px;
  gap: 6px;
  font-weight: 500;
}

.header-top .header-top__nav__list {
  padding: 120px 0px;
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.4s;
  text-align: center;
  background: white;
}

.header-top .header-top__nav__list a {
  background: white;
  color: blue;
  font-size: 18px;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid;
}

.header-top .header-top__nav__list-show {
  left: 0;
}

@media (min-width: 800px) {
  .header-top {
    padding: 9px 0px;
  }
  .header-top .header-top__nav {
    display: flex;
  }
  .header-top .header-top__nav__logo {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 162px;
  }
  .header-top .header-top__nav__logo__title {
    font-size: 22px;
  }
  .header-top .header-top__nav__right {
    display: none;
    width: 500px;
    justify-content: end;
  }
  .header-top .header-top__nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;
    padding: 10px;
    display: flex;
  }
  .header-top .header-top__nav__list a {
    background: none;
    color: white;
    font-size: 16px;
    padding: 5px;
    border-radius: 3px;
    border: none;
    display: flex;
    align-items: center;
    gap: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .header-top .header-top__nav__btns .header-top__nav__btn-hamburger {
    display: none;
  }
}
@media (min-width: 1388px) {
  .header-top .header-top__nav__right {
    display: flex;
  }
}
.home-hero {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 0px;
}

.home-hero__left {
  display: grid;
  background: #FFF;
  grid-template-columns: auto auto;
  border-radius: 10px;
}

.home-hero__left__title {
  padding: 100px 40px;
  display: grid;
  width: 120%;
  font-size: 22px;
  gap: 20px;
}

.home-hero__left__title h1 {
  color: black;
}

.home-hero__left__title__button {
  height: 50px;
  border: 2px solid #FBD029;
  border-radius: 10px;
  background-color: inherit;
  color: black;
  width: 150px;
}

.home-hero__left__img {
  width: 450px;
  flex-shrink: 0;
}

.home-hero__left__img img {
  width: 100%;
  border-radius: 10px;
}

.home-hero__right {
  display: grid;
  grid-template-columns: auto;
  padding: 0px 0px 0px 22px;
  width: 100;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.home-hero__right__top {
  display: flex;
  gap: 12px;
  background-color: #FFF;
  border-radius: 10px;
  padding: 0px 0px 0px 22px;
}

.home-hero__right__top__title p {
  color: black;
}

.home-hero__right__top__title h2 {
  color: red;
}

.home-hero__right__top__title h3 {
  color: black;
  padding: 15px 0px;
}

.home-hero__right__top__title sub {
  color: red;
}

.home-hero__right__top__img {
  width: 170px;
  display: flex;
}

.home-hero__right__top__img img {
  width: 100%;
  border-radius: 10px;
}

.home-hero__right__bottom {
  display: flex;
  background-color: #FFF;
  border-radius: 10px;
  justify-content: center;
  padding: 0px 0px 0px 22px;
}

.home-hero__right__bottom__title p {
  color: black;
}

.home-hero__right__bottom__title h2 {
  color: black;
}

.home-hero__right__bottom__title h3 {
  color: black;
  padding: 15px 0px;
}

.home-hero__right__bottom__title sub {
  color: black;
}

.home-hero__right__bottom__img {
  width: 160px;
  display: flex;
  height: 100%;
}

.home-hero__right__bottom__img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .home-hero {
    display: grid;
    grid-template-columns: auto;
    gap: 12px;
  }
}
@media (max-width: 800px) {
  .home-hero__left {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
  }
  .home-hero__left__img {
    width: 200px;
    flex-shrink: 0;
  }
  .home-hero__left__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .home-hero__left__title {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  .home-hero__right {
    display: flex;
    align-items: center;
  }
  .home-hero__right__top {
    width: 75%;
    height: 100%;
    font-size: 11px;
  }
  .home-hero__right__bottom {
    width: 75%;
    height: 100%;
    font-size: 13px;
  }
  .home-hero__left {
    width: 68%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .home-hero__left__img {
    width: 100px;
    flex-shrink: 0;
  }
  .home-hero__left__img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .home-hero__left__title {
    font-size: 7px;
    padding: 22px;
  }
  .home-hero__left__title__button {
    height: 30px;
    width: 70px;
    font-size: 8px;
  }
}
.catalog {
  background-color: white;
  padding: 30px 0px;
}

.catalog .katalog {
  color: black;
  padding: 14px 0px;
}

.catalog__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: space-between;
  gap: 12px;
}

.catalog__card {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 187px;
  height: 247px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(197, 214, 225, 0.9176470588);
}

.catalog__card__title {
  color: black;
  font-size: 19px;
  font-weight: 700;
}

.products {
  padding: 60px 0px;
}

.products__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
}

.products__cards__disc {
  padding: 30px 0px;
  font-size: 30px;
  color: black;
}

.products__card {
  width: 292px;
  height: 416px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #FFF;
}

.products__card i {
  display: flex;
  justify-content: end;
  padding: 20px;
  font-size: larger;
}

.products__card i:hover {
  font-weight: 900;
}

.products__card__img {
  padding: 0px 20px;
}

.products__card__title__info {
  color: black;
  padding: 5px 20px;
  font-size: 22px;
  width: 240px;
}

.products__card__title__price {
  color: red;
  font-size: 20px;
  padding: 0px 20px;
  font-weight: 700;
}

.products__card__title__delprice {
  color: rgba(0, 0, 0, 0.402);
  font-size: 15px;
  text-decoration: line-through;
  padding: 0px 20px;
}

.products__card__title__button {
  width: 100%;
  background-color: #FBD029;
  border: none;
  color: black;
  display: flex;
  gap: 3px;
  height: 45px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  padding: 0px 30px 0px 0px;
}

.poliznoe__main {
  color: black;
  font-size: 28px;
}

.poliznoe__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  padding: 30px 0px;
  gap: 40px;
}

.poliznoe__cards__right {
  display: grid;
  background-color: white;
  border-radius: 10px;
}

.poliznoe__cards__right__img {
  margin: 0 auto;
}

.poliznoe__cards__right__button {
  border: none;
  color: black;
  width: 100%;
  border-radius: 5px;
  border-top: 12px solid #F2F2F2;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: white;
  font-size: 19px;
  font-weight: 600;
}

.poliznoe__cards__left {
  background-color: white;
  border-radius: 10px;
  padding: 40px 160px 40px 40px;
}

.poliznoe__cards__left__title {
  color: black;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.poliznoe__cards__left__discription {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  padding: 12px 0px 80px;
}

.poliznoe__cards__left__bottom {
  display: flex;
  gap: 20px;
  color: black;
  padding: 20px 0px;
}

.poliznoe__cards__left__bottom p {
  color: black;
  display: flex;
  gap: 8px;
  align-items: center;
}

@media (max-width: 600px) {
  .poliznoe__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    display: grid;
    align-items: center;
    justify-content: center;
  }
  .poliznoe__cards__left {
    padding: 20px;
  }
  .poliznoe__cards__left__title {
    font-size: 20px;
  }
  .poliznoe__cards p {
    font-size: 12px;
  }
}
.advantages {
  padding: 40px 0px;
}

.advantages__main {
  color: black;
  font-size: 28px;
  padding: 30px 0px;
}

.advantages__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: space-between;
}

.advantages__card {
  width: 292px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  display: grid;
  align-items: center;
  padding: 30px 40px 70px;
}

.advantages__card__icon {
  display: flex;
  font-size: 40px;
}

.advantages__card__discription {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.aboutus__main {
  color: black;
  font-size: 28px;
  padding: 30px 0px;
}

.aboutus__content {
  background-color: black;
  display: flex;
  padding: 60px;
  border-radius: 10px;
}

.aboutus__content__info {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  width: 60%;
}

.aboutus__content__info a {
  text-decoration-line: underline;
}

.aboutus__content__arrow {
  width: 40%;
  display: flex;
  justify-content: end;
  align-items: end;
}

@media (max-width: 600px) {
  .aboutus__content {
    padding: 4px;
  }
  .aboutus__content__info {
    font-size: 10px;
    padding: 10px;
  }
}
.brends {
  padding: 50px 0px;
}

.brends__imgs {
  display: grid;
  justify-content: center;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  align-items: center;
  background-color: white;
  padding: 30px 30px;
  border-radius: 10px;
  gap: 2px;
}

.brends__imgs img {
  display: flex;
  justify-content: space-between;
  padding: 0px 60px;
}

@media (max-width: 700px) {
  .brends__imgs {
    gap: 33px;
    justify-content: center;
  }
  .brends__imgs img {
    margin: 0 auto;
  }
}
.all-product {
  width: 1000wh;
}

.all-product__left {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.gantel {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  padding: 50px 0px;
  gap: 34px;
}

.gantel__left {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.gantel__left__top {
  background-color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 130px 0px;
  border-radius: 5px;
}

.gantel__left__bottom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.gantel__left__bottom__card {
  background-color: #FFF;
  gap: 4px;
  align-items: center;
  display: grid;
  justify-content: center;
  padding: 13px 0px;
  border-radius: 5px;
}

.gantel__right {
  padding: 60px;
  display: grid;
  background-color: #FFF;
  border-radius: 5px;
}

.gantel__right__share {
  padding: 20px 0px;
  display: flex;
  align-items: center;
}

.gantel__right h1 {
  color: black;
  font-size: 29px;
  font-weight: 900;
  width: 260px;
}

.gantel__right p {
  color: black;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  width: 390px;
}

.gantel__right h2 {
  color: black;
  padding: 20px 0px;
}

.gantel__right sub {
  color: #1F1D14;
}

.gantel__right b {
  color: black;
}

.gantel__right__buttons {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gantel__right__buttons__left {
  width: 170px;
  display: flex;
  border: none;
  background-color: #FBD029;
  align-items: center;
  border-radius: 5px;
  gap: 10px;
  padding: 0px 27px;
}

.gantel__right__buttons__right {
  width: 170px;
  display: flex;
  align-items: center;
  padding: 0px 27px;
  gap: 10px;
  border: none;
  border: 2px solid #FBD029;
  background-color: #FFF;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .gantel__left__top {
    width: 90%;
  }
  .gantel__left__top img {
    width: 40%;
  }
  .gantel__left__bottom {
    width: 90%;
  }
  .gantel__right {
    width: 90%;
  }
  .gantel__right p {
    font-size: 12px;
    width: 170px;
  }
  .gantel__right h1 {
    width: 180px;
    font-size: 20px;
  }
}